.Cars {
  text-align: center;

  .new-car-btn {
    width: 300px;
  }
}

.CarItem {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 300px;
  margin: 1rem auto;
}

.car-details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }
}